.tdHeader{
    background-color: #d3d3d3;
    padding: 3px; }
.tdHeader2{
    background-color: #d3d3d3;
    padding: 3px; }
.tableHeader2{
    background-color: #ececec;
    width: 100%; }
.tdHeader3{
    padding: 3px; }
.tdHeader4{
    font-family: monospace;
    font-size: 9pt;
    padding: 3px; }
.divPopup1{
    background-color: #d3d3d3;
    border: 1px solid black;
    display: none;
    height: 200px;
    width: 300px;
}
.divData{
    font-size: 10pt;
    font-family: inherit;
}
.tdLabel{
    font-size: 10pt;
}
.inputData{
    font-size: 10pt;
    font-family: inherit;
}