<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="Collaboration on PA Data - Version 1"
               description="This is a first POC on how to collaborate on PA Data"
               author="Rolf Mueller"
               author_affiliation="Accenture"
               author_email="rolf.mueller@accenture.com">

    <!-- Commonly used features -->
    <Require feature="dynamic-height" /> 
    <Require feature="jive-core-v2" /> 
    <Require feature="osapi"/> 
    <Require feature="settitle"/> 
    <Require feature="views" />

    <!-- Additional Options ... -->
  </ModulePrefs>

  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->
  <Content view="home,canvas" href="home.html">
  </Content>

 <!--
  <Content view="home" href="home.html" />
  <Content view="canvas" href="canvas.html" />
  -->

</Module>